body
{
  top : 0;
  left : 0;
  margin : 0;
  padding : 0;
}

div.bs_body
{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  font-family: arial, tahoma, verdana, helvetica, sans-serif;
  font-size : 14px;
  width : 1000px;
}

div.bs_title
{
  margin-top : 15px;
  width : 100%;
  height : 60px;
  line-height : 60px;
  font-size : 60px;
  text-align : center
}

div#title_left
{
  float : left;
  width : 366px;
  color : #ffce00;
  background-color : #a32a74;
}

div#title_right
{
  float : left;
  width : 630px;
  color : #a32a74;
  background-color : #ffce00;
}

div.bs_main_menu
{
  margin-top : 20px;
  line-height : 20px;
  width : 100%;
  overflow : hidden;
  background-image : -webkit-gradient(linear, left top, right top, from(#a32a74), to(#ffce00));
  background : -moz-linear-gradient(left, #a32a74, #ffce00);
}

div#about,
div#contact,
div#members,
div#blog,
div#concert_history
{
  float : left;
  width : 200px;
}

div#about
{
//  background-color : #ffe769;
}

div#contact
{
//  background-color : #edc680;
}

div#members
{
//  background-color : #d8a59c;
}

div#blog
{
//  background-color : #c597a9;
}

div#concert_history
{
//  background-color : #cc95ad;
}

div.bs_main_frame
{
  margin-top : 30px;
  width : 100%;
  overflow : hidden;
}

div#this_concert
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#this_concert_flyer
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#next_concert
{
  float : left;
  clear : left;
  width : 490px;
border : solid 2px black;
}

div#links
{
  width : 100%;
}

div#miscalleneous
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div.bs_footer
{
  width : 100%;
border : solid 2px black;
}
