body
{
  top : 0;
  left : 0;
  margin : 0;
  padding : 0;
}

div.bs_body
{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  font-family: arial, tahoma, verdana, helvetica, sans-serif;
  font-size : 14px;
  width : 1000px;
}

div.bs_title
{
  margin-top : 15px;
  width : 100%;
  height : 60px;
  line-height : 60px;
  font-size : 60px;
  text-align : center
}

div#title_left
{
  float : left;
  width : 366px;
  color : #ff0;
  border : solid 2px black;
}

div#title_right
{
  float : left;
  width : 630px;
  background-color : #ff0;
}

div.bs_main_menu
{
  margin-top : 20px;
  line-height : 20px;
  width : 100%;
  overflow : hidden;
}

div#about,
div#contact,
div#members,
div#blog,
div#concert_history
{
  float : left;
  width : 200px;
}

div#about
{
  background-color : #ffffd1;
}

div#contact
{
  background-color : #fdffd5;
}

div#members
{
  background-color : #f9ffdc;
}

div#blog
{
  background-color : #f5ffe5;
}

div#concert_history
{
  background-color : #f4ffe7;
}

div.bs_main_frame
{
  margin-top : 30px;
  width : 100%;
  overflow : hidden;
}

div#this_concert
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#this_concert_flyer
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#next_concert
{
  float : left;
  clear : left;
  width : 490px;
border : solid 2px black;
}

div#links
{
  width : 100%;
}

div#miscalleneous
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div.bs_footer
{
  width : 100%;
border : solid 2px black;
}
