body
{
  top : 0;
  left : 0;
  margin : 0;
  padding : 0;
  background-color : #727;
}

div.bs_body
{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  font-family: arial, tahoma, verdana, helvetica, sans-serif;
  font-size : 14px;
  width : 1000px;
border : solid 2px black;
}

div.bs_title
{
  width : 100%;
  height : 60px;
  line-height : 60px;
  font-size : 60px;
  text-align : center
}

div#title_left
{
  float : left;
  width : 370px;
  color : #cc0;
}

div#title_right
{
  float : left;
  width : 630px;
  background-color : #cc0;
}

div.bs_main_menu
{
  widht : 100%;
border : solid 2px black;
}

div#about,
div#contact,
div#members,
div#blog
{
  float : left;
  width : 190px;
border : solid 2px black;
}

div.bs_main_frame
{
  width : 100%;
border : solid 2px black;
}

div#program_this_concert
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#flyer_this_concert
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div#next_concert
{
  float : left;
  clear : left;
  width : 490px;
border : solid 2px black;
}

div#links
{
  width : 100%;
}

div#miscalleneous
{
  float : left;
  width : 490px;
border : solid 2px black;
}

div.bs_footer
{
  width : 100%;
border : solid 2px black;
}
